@import url("communs.css");

#etat-civil p {
  margin: 0.5rem;
}

img {
  float: left;
  margin-right: 4rem;
  margin-bottom: 1rem;
  height: 12rem;
}

h1 {
  clear: both;
}

dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

dd {
  color: var(--couleur-1);
  margin-left: 2rem;
}

.dates {
  float: right;
}
